.brends{
  padding: 0;
  margin: 0 auto;
  &__container{
    margin: 0 auto; 
    margin-top: 152px;
    margin-bottom: 160px;
  }
}
.tabs{
  display: flex;
  flex-direction: row;
  gap: 55px;
  padding-bottom: 20px;
  max-width: 1920px;
  &__wrapper{
    margin: 0 auto; 
    margin-top:47px;

  }
  &__content{
    max-width: 1359px;
    &::before{
      margin-top: 0px;
      display: block;
      content: '';
      width: 1359px;
      height: 1px;
      background-color: #EEE;
    }
  }
}
.tab{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  display: block;
  text-transform: uppercase;
  position: relative;
  &:hover{
    color: #1642A2;
    cursor: pointer;
    font-weight: 700;
  }
  &-items{
    margin-top: 32px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    max-height: 400px;
    overflow: hidden;
  }
  &-item{
    width: 214px;
    height: 120px;
    border-radius: 15px;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__img{
    width: 139px;
    height: 21px;
    margin: 0 auto;
  }
  &__open{
    color: #C8231C;
    background: rgba(200, 35, 28, 0.10);
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: 592px;
    margin-top: 30px;
    width: 179px;
    height: 50px;
    font-weight: 700;
  }
}
.active{
  color: #1642A2;
  font-weight: 700;
  &::after{
    position: absolute;
    margin-top: 20px;
    display: block;
    content: '';
    width: 77px;
    height: 1px;
    background-color: #1642A2;
  }
}