.brends{
  padding: 0;
  margin: 0 auto;
  &__container{
    margin: 0 auto; 
    margin-top: 152px;
    margin-bottom: 160px;
    @media(max-width:920px){
      margin-top: 72px;
    }
  }
  &__title{
    @media(max-width:920px){
      text-align: left !important;
    }
    @media(max-width:400px){
      max-width: 250px;
    }
  }
}
.tabs{
  display: flex;
  flex-direction: row;
  gap: 55px;
  max-width: 1920px;
  @media(max-width:1300px){
    gap: 40px;
  }
  &__wrapper{
    margin: 0 auto; 
    margin-top:47px;
    @media(max-width:500px){
      margin-top: 32px;
    }
  }
  &__content{
    max-width: 1359px;
    max-height: 432px;
    overflow: hidden;
    &::before{
      margin-top: 0px;
      display: block;
      content: '';
      width: 1359px;
      height: 1px;
      background-color: #EEE;
    }
    @media(max-width:750px){
      max-height: 542px;
    }
    @media(max-width:566px){
      max-height: 795px;
      .hide{
        max-height:max-content;
      }
    }
  }
}
.hide{
  max-height:max-content !important;
}

.tab{
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  display: block;
  text-transform: uppercase;
  position: relative;
  white-space:nowrap;
  @media(max-width:1200px){
    font-size: 14px;
    max-height: 20px !important;
  }
  &:hover{
    color: #1642A2;
    cursor: pointer;
    font-weight: 700;
  }
  &-items{
    margin-top: 27px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    @media(max-width:750px){
      gap: 10px;
    }
    @media(max-width:500px){
      margin-top: 19px;
    }
  }
  &-item{
    width: 214px;
    height: 120px;
    border-radius: 15px;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    @media(max-width:1500px){
      width: 169px;
      height: 120px;
      border-radius: 10px;
      
    }
  }
  &__img{
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__open{
    color: #C8231C;
    background: rgba(200, 35, 28, 0.10);
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    margin-left: 592px;
    margin-top: 27px;
    width: 179px;
    height: 50px;
    font-weight: 700;
    @media(max-width:1500px){
      margin: 15px auto;
      width: 350px;
      height: 50px;
      border-radius: 5px;
      margin-bottom: 80px;
    }
  }
}
.slick-slide.active{
  span{
    position: relative;
    z-index: 5;
    color: #1642A2;
    font-weight: 700;
  
  }
}
.tabs{
  .active{
    position: relative;
    &:before{
      content: '';
      width: 100%;
      height: 1px;
      background-color: #1642A2;
      position: absolute;
      top: 40px;
      z-index: 5;
      @media(max-width:500px){
        top: 30px;
      }
    }
  }
}