.call{
  &__container{
    margin-top: 196px;
    display: flex;
    position: relative;
    @media(max-width:920px){
      margin-top:80px;
    }
  }
  &__img{
    position: absolute;
    bottom: 0;
    right: 371px;
    @media(max-width:1700px){
      right: 50px;
    }
    @media(max-width:1200px){
      width: 240px;
      height: 300px;
    }
    @media(max-width:980px){
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__info{
    padding-top: 77px;
    @media(max-width:1200px){
      padding-top: 50px;
    }
  }
  &__subtitle{
    margin-top: 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    @media(max-width:1200px){
      margin-top: 15px;
    }
    @media(max-width:500px){
      width: 316px;
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__form{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    max-width: 693px;
    align-items:center;
    padding-bottom: 80px;
    @media(max-width:1200px){
      margin-top: 30px;
      justify-content: center;
      gap: 10px;
      flex-direction: column;
    }
    @media(max-width:980px){
      padding-bottom:352px;
    }
    @media(max-width:980px){
      align-items: flex-start;
    }
  }
  input{
    width: 329px;
    height: 55px;
    border-radius: 10px;
    background: #FFF;
    padding-left: 25px;
    @media(max-width:1200px){
      width: 350px;
      height: 50px;
      border-radius: 5px;
      padding-left: 20px;
    }
  }
  ::placeholder{
    color: rgba(10, 43, 73, 0.45);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    @media(max-width:1200px){
      font-size: 14px;
    font-weight: 500;
    line-height: 20px;  
    }
  }
  &__btn{
    margin-top: 1px;
    border-radius: 10px;
    background: #C8231C;
    width: 329px;
    height: 54px;
    color: #FFF;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    @media(max-width:1200px){
      width: 350px;
      height: 50px;
      border-radius: 5px;
    }

  }
  &__agreement{
    width: 329px;
    color: rgba(10, 43, 73, 0.45);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    @media(max-width:1200px){
      font-size: 12px;
      text-align: left;
      margin-top: 3px;
      max-width: 301px;
    }
  }
}