.contact{
  &__container{
    padding-top: 157px;
    @media(max-width:1300px){
      padding-top: 80px;
    }
  }
  &__title{
    &::after{
      content: '';
      margin-top: 27px;
      display: block;
      max-width:1360px;
      height: 1px;
      background:#DDD;
      @media(max-width:1000px){
        width: 100%;
        margin-top: 16px;
      }
      }
  }
  &__list{
    margin-top: 30px;
    display: flex;
    gap: 15px;
    @media(max-width:1300px){
      gap: 5px;
      flex-wrap: wrap;
      max-width: 700px;
      margin: 0 auto;
      margin-top: 19px;
      justify-content: center;
    }
  }
  &__items{
    width: 329px;
    height: 90px;
    border-radius: 10px;
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 30px;
    flex-shrink: 1;
    @media(max-width:1270px){
      padding: 15px 20px;
    }
    @media(max-width:700px){
      width: 350px;
      height: 75px;
      gap: 5px;
    }
  }
  &__name{
    color: rgba(10, 43, 73, 0.45);
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    @media(max-width:500px){
      font-size: 12px;
    }
  }
  &__info{
    display: flex;
    gap: 10px;
    @media(max-width:500px){
      gap: 8px;
    }
  }
  &__text{
    color: #0A2B49;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;

    @media(max-width:500px){
      font-size: 14px;
    }
    &-bold{
      font-size: 16px;
      font-weight: 700;
      @media(max-width:500px){
        font-size: 16px;
      }
    }
  }
  &__img{
    @media(max-width:500px){
      width: 16px;
      height: 16px;
    }
  }
  &__map{
    margin-top: 15px;
    width: 1360px;
    height: 580px;
    position: relative;
    @media(max-width:1500px){
      width: 100%;
      margin-top: 5px;
    }
  }
  &__btn{
    position: absolute;
    z-index: 5;
    bottom: 20px;
    left: 20px;
    width: 308px;
    height: 55px;
    border-radius: 10px;
    background: #C8231C;
    color: #FFF;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    @media(max-width:500px){
      width: 340px;
      height: 50px;
      bottom: 5px;
      left: 5px;
    }
  }
}