.equipment{
  margin-top: 158px;
  &__title{
    
    &:after{
      content: '';
      display: block;
      margin-top: 25px;
      max-width: 1360px;
      height: 1px;
      background-color: #DDD;
    }
  }
  &__list{
    margin-top: 32px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    z-index: 2;
    &-selection{
      position: relative;
      &::after{
        content: '';
        position: absolute;
        display: block;
        width: 462px;
        height: 462px;
        border: 2px dashed rgba(255, 255, 255, 0.15);
        border-radius: 50%;
        z-index: 4;
        top: 209px;
        left: -356px;
      }
      &::before{
        content: '';
        position: absolute;
        display: block;
        width: 462px;
        height: 462px;
        border: 2px dashed rgba(255, 255, 255, 0.15);
        border-radius: 50%;
        z-index: 4;
        top: 241px;
        left: 146px;
      }
      img{
        position: relative;
        z-index: 5;
      }
      span{
        position: absolute;
        display: block;
        width: 340px;
        height: 340px;
        border-radius: 50%;
        z-index: 4;
        border: 2px dashed #FFF;
        bottom: -265px;
        left: -40px;
      }
    }
  }
  &__items{
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 350px;
    background: #F5F5F5;
    border-radius: 15px;
    padding: 25px;
    padding-top: 23px;
  }
  &__list-selection{
    background: #0A2B49;
    overflow: hidden;
  }
}
.equipment-elem{
  &__title{
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }
  &__subtitle{
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    gap: 10.5px;
  }
  &__img{
    width: 152px;
    height: 110px;
    mix-blend-mode: multiply;
    margin: 0 auto;
    margin-top: 45.5px;
  }
  &__btn{
    margin-top: 45px;
    width: 210px;
    height: 50px;
    border-radius: 10px;
    background: #FFF;
    font-size: 13px;
    line-height: 20px;
    padding-top: 1px;
    text-transform: uppercase;
    &:hover{
      background: #C8231C;
      color: #FFF;
      transition: all 0.3s ease;
    }
  }
}
.selection{
  &__title{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
  }
  &__img{
    margin-left: 27px;
    margin-top: 25px;
    width: 145px;
    height: 240px;
  }
}