
.review{
  &__container{
    padding-top: 155px;
  }
  &__top{
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav{
    padding-top: 4.5px;
    display: flex;
    gap: 15px;
    text-align: center;
  }
}

.slider-review{
  &__wrapper{
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    margin-top: 39.5px;
  }
  &__elem{
    border-radius: 30px;
    border: 1px dashed rgba(22, 66, 162, 0.35);
    width: 673px;
    height: 295px;
    flex-shrink:0;
    padding: 15px;
    display: flex;
    gap: 25px;
  }
  &__img{
    width: 199px;
    height: 265px;
    border: 20px solid #F5F5F5;
    border-radius: 20px;
  }
  &__text{
    border-radius: 15px;
    background: #F5F5F5;
    padding-top: 28px;
  }
  &__title{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.24px;
    align-items: center;
    font-size: 16px;
    line-height: 20px; /* 125% */
    text-transform: uppercase;
  }
  &__subtitle{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
  }
  &__date{
    margin-top: 76px;
    display: flex;
    gap: 10px;
  }
}