.section{
  margin: 0 auto;
  padding-left: 265px;
  max-width: 1890px;
  margin: 0 15px;

  &__color{
    border-radius: 25px;
    background: #F0F0F0;
  }
  &__title{
    font-size: 38px;
    line-height: 40px;
    letter-spacing: -0.38px;
    span{
      color: #1642A3;
    }
  }
  &__subtitle{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
  }
}
