.skills{
  &__container{
    margin: 0 auto;
    margin-top: 158px;
    display: flex;
    gap: 79px;
    overflow: hidden;
    padding-right: 0;
    @media(max-width:1200px){
      gap:25px;
      margin-top: 80px;
    }
    @media(max-width:1100px){
      flex-direction: column;
    }
    @media(max-width:920px){
      padding-top: 79px;
    }

    @media(max-width:900px){
      margin-top: 80px;
      flex-direction: row;
    }
    @media(max-width:560px){
      padding-right: 0;
      flex-direction: column;
      gap: 26px;
    }
  }
  &__info{
    width: 300px;
    @media(max-width:1100px){
      width: 350px;
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-items: center;
      align-self: center;
    }
    @media(max-width:560px){
      align-items: flex-start;
      align-self: auto;
    }
  }
  &__subtitle{
    max-width: 258px;
    margin-top: 20px;
    @media(max-width:1099.9px){
      margin-top: 0;
      max-width: 500px;
      text-align: left;
    }
  }
  &__nav{
    margin-top: 102px;
    display: flex;
    gap: 15px;
    @media(max-width:1100px){
      margin-top: 0;
    }
  }
}
.slider-skills{
  @media(max-width:1200px){
    margin-top: -17px;
  }
  &__elem{
    border-radius: 30px;
    border: 1px dashed rgba(22, 66, 162, 0.35);
    height: 320px;
    flex-shrink:0;
    padding: 15px;
    display: flex !important;
    gap: 15px;
    width: 788px !important;
    @media(max-width:1100px){
      padding: 8px;
    }
    @media(max-width:900px){
      display: flex;
      flex-direction: column;
      width: 310px !important;
      height: 540px;
      border-radius: 20px;
      align-items: center;
      gap: 8px;
    }
  }
  &__img{
    border-radius: 15px;
    width: 286px;
    height: 290px;
    object-fit: cover;
    @media(max-width:900px){
      width: 294px;
      height: 258px;

    }
  }
  &__text{
    border-radius: 15px;
    background: #F5F5F5;
    padding: 25px;
    @media(max-width:1100px){
      padding: 15px;
      padding-left: 20px;
      padding-bottom: 20px;
    }
  }
  &__title{
    margin-top: 2px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.24px;
    @media(max-width:900px){
      font-size: 18px;
      line-height: 25px;
      letter-spacing: -0.18px;
      margin-top: 0;
    }
    img{
      @media(max-width:900px){
        width: 25px;
        height: 25px;
      }
    }
  }
  &__subtitle{
    margin-top: 120px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    @media(max-width:900px){
      margin-top: 78px;
      font-size: 14px;
    }
  }
}
.slider__btn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #C8231C;
  color: #fff;
  &:hover{
    background-color: #B9130C;
  }
  z-index: 50;
}