*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a,a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: inherit;
  font-size: inherit;
  margin: 0;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
  scroll-behavior:smooth;
}
html {
  font-family: 'Gilroy', sans-serif;
  font-style: normal;
  font-weight: 700;
  scroll-behavior: smooth;
}
body {
  line-height: 1;
  color: #0A2B49;
  background: #fff;
  margin: 0 auto;
  position: relative;
}
.wrapper{
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}
.main__wrapper{
  margin:0 auto;
}
.btn{
  border-radius: 10px;
  background: #C8231C;
  width: 217px;
  height: 55px;
  color: #FFF;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  cursor: pointer;
}
.animation-border{
  border-radius: 30px;
  border: 1px dashed transparent;
  animation-name: btnBorder;
  animation-duration: 1s;
  animation-fill-mode:both;
  @media(max-width:900px){
    border-radius: 20px;
  }
}

@keyframes btnBorder {
  0%{border: 1px dashed transparent;}
  100%{border: 1px dashed rgba(22, 66, 162, 0.45);}
}
.green{
  background-color: red;
}