.working{
  &__container{
    margin: 0 auto;
    margin-top: 156px;
  }
  &__title{
    padding: 0;
    text-align: center;
  }
  &__list{
    margin-top: 46px;
    display: flex;
    justify-content: center;
  }
  &__ellipse{
    width: 368px;
    height: 368px;
    padding: 3px;
    position: relative;
    &-center{
      width: 360px;
    height: 360px;
    border-radius:50%;
    background: #FFF;
    border: 1px dashed rgba(22, 66, 162, 0.35);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 128px;
    gap: 10px;
    }
    
    &:not(:first-child){
      margin-left: -35px;
    }
    &_first{
      position: relative;
      z-index: 1;
      .ellipse__text{
        width: 257px;
      }
    }
    &_second{
      position: relative;
      z-index: 2;
      margin-top: -2.5px;
      .ellipse__text{
        width: 235px;
        margin-top: 3px;
      }
    }
    &_three{
      position: relative;
      z-index: 3;
      .ellipse__text{
        width: 201px;
      }
    }
    &_four{
      position: relative;
      z-index: 4;
      .ellipse__text{
        width: 275px;
        margin-top: 1px;
      }
    }
  }
}
.ellipse{
  &__title{
    font-size: 24px;
    line-height: 30px;
    letter-spacing: -0.24px;
    margin-left: 18px;
    sup{
      top: -2px;
      vertical-align: super;
      padding-left: 5px;
      margin-top: 15px;
      color: #1642A2;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
  }
  &__text{
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    // width: 275px;
  }
}
.point__red,
.point__blue {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  z-index: 1;

}
.point__red{
  background: #C8231C;
  top: 0px;
  left: 50%;
  transform-origin: 0  183px;
  animation: moving-red 8s infinite linear;
}
.point__blue{
  background-color: #1642A2;
  position: absolute;
  top: 0%;
  left: 50%;
  transform-origin: 0 183px;
  animation: moving-blue 5s infinite linear;
}
@keyframes moving-red {
  100% {transform: rotate(-360deg);}
}
@keyframes moving-blue {
  100% {transform: rotate(360deg);}
}